.Weapon {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border: #ddd 2px solid;
  border-radius: 16px;
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Weapon.active:hover, .Weapon.selected {
  cursor: pointer;
  border: #ccc 5px solid;
}

.Weapon.selected.winner {
  border: #7cd37e 5px solid;
}

.weapon-image {
  max-width: 190px;
  max-height: 190px;
  width: auto;
  height: auto;
}

@media (max-width: 640px) {
  .Weapon {
    width: 150px;
    height: 150px;
  }

  .weapon-image {
    max-width: 140px;
    max-height: 140px;
    width: auto;
    height: auto;
  }
}
